@import './Scss_/mixin';

.about-wrap{
    padding: 5rem 15px;
    border-bottom: 1px solid #dcd9d9;
    background: #f2f2f5;
    text-align: center;
}

.title{       
    text-align: center;
    height: 100px; 
    h1{    
        position: relative;
        display: inline-block;
        font-size: 2em;
        font-weight: 300;
        &::after{
            position: absolute;
            content: '';
            top: 100%;
            height: 1px;
            left: 0;
            right: 0;
            margin: 0 auto;
            background: #3498db;
        }
    }
}

.contain{
    margin: 0 auto;
    max-width: 900px;
    display: flex;
}

.picture{    
    margin-right: 70px;
    height: 250px;
    border-radius: 100%;
    background-color: black;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.45), 0 3px 6px rgba(0, 0, 0, 0.2);
    
    img{
        max-width: 250px;
        max-height: 250px;
        border-radius: 100%;
    }
}


.content{
    align-self:center;
    text-align: justify;
}

.icons{
    display: flex;
    max-width: 900px;
    margin: 0 auto;
    height: 100%;
    justify-content: flex-end;
    ul{
        display: inline-flex;
        li{
            list-style: none;
            margin: 20px;
        }
    }
}




@include tb{
    .contain{
        display: inline-block;
        .picture{
            margin: 20px auto;
            width: 250px;
            height: 250px;
            border-radius: 100%;
            background-color: black;
            text-align: center;
            box-shadow: 0 3px 6px rgba(0,0,0,.2)0.3;
            box-shadow: 0 3px 6px rgba(0,0,0,.2), 0 3px 6px rgba(0,0,0,.2);
        }
    }
    .title{
        height: 100px; 
    }
    .content{
        padding: 30px;
    }
    .icons {
        margin: 0;
    }
   
}

@include mb{
    .contain{
        display: inline-block;
        .picture{
            margin: 20px auto;
            width: 250px;
            height: 250px;
            border-radius: 100%;
            background-color: black;
            text-align: center;
            box-shadow: 0 3px 6px rgba(0,0,0,.2)0.3;
            box-shadow: 0 3px 6px rgba(0,0,0,.2), 0 3px 6px rgba(0,0,0,.2);
        }
    }
    .title{
        height: 100px; 
    }
    .content{
        padding: 30px;
    }
    .icons{
        justify-content: center;
    }
    .icons {
        margin: 0;
    }
   
}





