@keyframes blink {
    from,to {
        border-color: transparent
    }

    50%{
    border-color: black;
    }
}
    .texture-wrap{
        display: flex;
        justify-content: center;
        align-items: center;
        height:100vh;
     
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;
        color: black;
        width:100%;
      
        
    }
    
    .texture{
        font-family: 'Noto Sans KR', sans-serif;
        border-right: 0.1em solid black;
        font-size: 4vw;
        white-space: pre;
        line-height: 1;
        letter-spacing: 0.1rem;
        padding-top: 0.2em;
        animation: blink 1s step-end infinite;
    }